Chrome/js/*
Chrome/res/*
Chrome/_locales/*
Chrome/TypeScript/*
!Chrome/res/load_options.js

Firefox/js/*
Firefox/res/*
Firefox/_locales/*
Firefox/TypeScript/*

Safari.safariextension/js/*
Safari.safariextension/res/*
Safari.safariextension/_locales/*
Safari.safariextension/TypeScript/*

*.map
*.xpi
*.crx
*.safariextz

TypeScript/*.js
lib/script.js
lib/script.d.ts
lib/options.js
lib/options.d.ts

res/style.css
res/options.css
.sass-cache/*

reloadExtension.scpt

lib/options-es5.js

lib/script-es5.js
