{{#replies}}
{{#hiddenByDefault}}
<div class="collapse" style="display: block;">
    <span class="info">
        <a class="expandButton" href="#">[+]</a>
        {{#authorDeleted}}
        {{author}}
        {{/authorDeleted}}
        {{^authorDeleted}}
        <a href="http://www.reddit.com/user/{{author}}" rel="author" target="_blank">{{author}}</a>
        {{/authorDeleted}}
          comment score below threshold
    </span>
</div>
<article style="display: none" data-id="{{name}}">
{{/hiddenByDefault}}
{{^hiddenByDefault}}
<div class="collapse">
    <span class="info">
        <a class="expandButton" href="#">[+]</a>
        {{#authorDeleted}}
        <b>{{author}}</b>
        {{/authorDeleted}}
        {{^authorDeleted}}
        <a href="http://www.reddit.com/user/{{author}}" rel="author" target="_blank">{{author}}</a>
        {{/authorDeleted}}
        {{points}} points
        <time datetime="{{datetime}}">{{timestamp}}</time>
    </span>
</div>
<article data-id="{{name}}">
{{/hiddenByDefault}}
    <div class="vote" data-preserved="{{preserved}}">
        {{#signedin}}
            {{#voted}}
                {{#likes}}
                <div class="arrow upmod"></div>
                <div class="arrow down"></div>
                {{/likes}}
                {{^likes}}
                <div class="arrow up"></div>
                <div class="arrow downmod"></div>
                {{/likes}}
            {{/voted}}
            {{^voted}}
                <div class="arrow up"></div>
                <div class="arrow down"></div>
            {{/voted}}
        {{/signedin}}
    </div>
    <div class="comment">
        <span class="info">
            <a class="collapseButton" href="#">[-]</a>
            {{#authorDeleted}}
            <b>{{author}}</b>
            {{/authorDeleted}}
            {{^authorDeleted}}
            <a href="http://www.reddit.com/user/{{author}}" rel="author" target="_blank">{{author}}</a>
            {{/authorDeleted}}
            {{#author_flair_text}}
            <span class="flair">{{flair}}</span>
            {{/author_flair_text}}
                {{score}} points
            <time datetime="{{datetime}}">{{timestamp}}</time>
            (<span class="upvotes">{{ups}}</span>|<span class="downvotes">{{downs}}</span>)
        </span>
        {{{html}}}
        <span class="commentOptions">
            <a href="http://www.reddit.com{{permalink}}/{{id}}" target="_blank">permalink</a>
            <a href="http://www.reddit.com{{permalink}}/{{parentid}}" target="_blank">parent</a>
            {{^preserved}}
                {{#signedin}}
                    <span class="replyTo">reply</span>
                {{/signedin}}
            {{/preserved}}
            <a href="https://getpocket.com/save?url={{encodedPermalink}}" target="_blank">pocket</a>
        </span>
    </div>
    <div class="replies">
        {{>traverse}}
    </div>
</article>
{{/replies}}

{{#header}}
<header data-id="{{name}}">
    <div class="vote" data-preserved="{{preserved}}">
        {{#signedin}}
            {{#voted}}
                {{#likes}}
                <div class="arrow upmod"></div>
                <div class="postScore liked">{{score}}</div>
                <div class="arrow down"></div>
                {{/likes}}
                {{^likes}}
                <div class="arrow up"></div>
                <div class="postScore disliked">{{score}}</div>
                <div class="arrow downmod"></div>
                {{/likes}}
            {{/voted}}
            {{^voted}}
                <div class="arrow up"></div>
                <div class="postScore">{{score}}</div>
                <div class="arrow down"></div>
            {{/voted}}
        {{/signedin}}
    </div>
    <div class="info">
        <a href="http://reddit.com{{permalink}}" target="_blank">{{title}}</a>
        <br />
        <span class="tagline">submitted {{timestamp}} by
            {{#authorDeleted}}
            <b>{{author}}</b>
            {{/authorDeleted}}
            {{^authorDeleted}}
            <a href="http://reddit.com/u/{{author}}" target="_blank">{{author}}</a>
            {{/authorDeleted}}
        </span>
        <br />
        <span class="commentOptions">
            {{#signedin}}
            {{^preserved}}
                <span class="commentTo">comment</span> 
            {{/preserved}}
            {{/signedin}}
            <a href="https://getpocket.com/save?url={{encodedPermalink}}" target="_blank">pocket</a>
        </span>
    </div>
</header>
{{/header}}

{{#commentBox}}
    {{#reply}}
    <div id="comment_reply" class="commentBox">
        <div class="markdownFunctions"></div>
        <textarea rows="1" cols="1" class="textarea_comment" id="textarea_comment_reply" maxlength="10000"></textarea>
        <button class="commentSubmit" id="submit_comment_reply">save</button>
        <button class="commentCancel" id="submit_comment_cancel">cancel</button>
        <span class="redditUsername">Commenting as: {{username}}</span>
        <div class="commentPreview" id="commentPreview_reply">
            <b>Live Preview</b>
            <h3>
                <span class="commentPreview_count" id="commentPreview_count_reply">0</span>/10000</h3>
            <div class="commentPreviewContents"></div>
        </div>
    </div>
    {{/reply}}
    {{^reply}}
    <div id="comment_main" class="commentBox">
        <div class="markdownFunctions"></div>
        <textarea rows="1" cols="1" class="textarea_comment" id="textarea_comment_main" maxlength="10000"></textarea>
        <button class="commentSubmit" id="submit_comment_main">save</button>
        <span class="redditUsername">Commenting as:</span>
        <div class="commentPreview" id="commentPreview_main">
            <b>Live Preview</b>
            <h3>
                <span class="commentPreview_count" id="commentPreview_count_main">0</span>/10000
            </h3>
            <div class="commentPreviewContents"></div>
        </div>
    </div>
    {{/reply}}
{{/commentBox}}

{{#tab}}
    {{#active}}
    <button class="redditTab active border" data-value="{{subreddit}}">{{subreddit}}</button>
    {{/active}}
    {{^active}}
    <button class="redditTab" data-value="{{subreddit}}">{{subreddit}}</button>
    {{/active}}
{{/tab}}    

{{#overflow}}
    <button id="redditOverflow">
        <img class="yt-uix-button-arrow" src="http://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title="">
        <ul>
            {{{items}}}
        </ul>
    </button>
{{/overflow}}
    
{{#overflowItem}}
    <li data-value="{{subreddit}}">{{subreddit}}</li>
{{/overflowItem}}
    
{{#error}}
    <section id="reddit">
        <div class="redditError">
            <img src="{{imageurl}}" alt="An error has occured" />
            <div>
                <h1>An error occured.</h1>
                <p>{{errormsg}}</p>
            </div>
        </div>
    </section>
{{/error}}

{{#googleplus}}
    <button class="at_gplus"><img src="{{imageurl}}" alt="Google Plus Comments" /></button>
{{/googleplus}}
