article {
    font-family: verdana, sans-serif;
    word-wrap:break-word;
    break-word: all;
    padding-left: 20px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 5px;
}

article span a {
    font-weight: bold;
}

#watch7-content {
    width: 854px !important;
}

sup {
    color: #979797;
    font-size: 11px !important;
}

article span {
    color: #888888;
    font-size: 10px;
}

article span .upvotes {
    color: #ff8b24;
    font-weight: bold;
}

article span .downvotes {
    color: #9494ff;
    font-weight: bold;
}

.replies article {
    border-left: dotted 1px #cacaca;
}


.md blockquote {
    border-left: 2px solid rgb(51, 102, 153);
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
    padding-left: 4px;
}

.md p {
    margin-top: 8px;
    margin-bottom: 5px;
}

#reddit {
    margin-top: 40px;
    padding-bottom: 40px;
    width: 854px;
    padding-right: 20px;
    box-sizing: border-box;
}

article a {
    color: #336699;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

.redditTab {
    font-family: verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-bottom: -1px;
    height: 32px;
    background-color: #f8f8f8;
    background-image: linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%);
    vertical-align: middle;
    overflow: hidden;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border: 1px solid #d3d3d3;
    border-left: none;
    color: #333;
}

.redditTab:focus {
    outline: 0;
}

.redditTab.active {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-bottom: 1px solid #fff;
    box-shadow: inset 0 1px 0 #ddd;
    background-image: none;
}

.redditTab.border {
    border-left: 1px solid #d3d3d3;
}

.redditTab.active:hover {
    border-bottom: 1px solid #fff;
}

.redditTab:hover {
    border: 1px solid #9c9c9c;
}

#redditTabs {
    padding-left: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.flair {
    display: inline-block;
    margin-right: .5em;
    padding: 0 2px;
    background: #f5f5f5;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.collapse {
    font-family: verdana, sans-serif;
    font-size: 10px;
    padding-left: 20px;
    display: none;
    color: gray;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 5px;
}

.collapse a {
    font-weight: bold;
    color: gray;
}

.collapse a:hover {
    text-decoration: none;
}

.expandButton {
    font-style: normal;
}

.expandButton:hover,
.collapseButton:hover {
    text-decoration: underline;
}

.redditSpinner {
    position: relative;
    width: 30px;
    height:30px;
    margin-top: 75px;
    margin-left: calc(50% - 60px);
}

.redditSpinner .loading {
    margin-left: 60px;
    font-size: 120%;
    color: #777777;
    line-height: 30px;
}

.redditSpinner .wBall {
    position: absolute;
    width: 29px;
    height: 29px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 4.95s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 4.95s infinite;
    transform: rotate(225deg);
    animation: orbit 4.95s infinite;
}

.redditSpinner .wBall .wInnerBall{
    position: absolute;
    width: 4px;
    height: 4px;
    background: #FF5900;
    background-color: #FF5900;
    left:0px !important;
    top:0px !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.redditSpinner #wBall_1 {
    -moz-animation-delay: 1.08s;
    -webkit-animation-delay: 1.08s;
    animation-delay: 1.08s;
}

.redditSpinner #wBall_2 {
    -moz-animation-delay: 0.22s;
    -webkit-animation-delay: 0.22s;
    animation-delay: 0.22s;
}

.redditSpinner #wBall_3 {
    -moz-animation-delay: 0.43s;
    -webkit-animation-delay: 0.43s;
    animation-delay: 0.43s;
}

.redditSpinner #wBall_4 {
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

.redditSpinner #wBall_5 {
    -moz-animation-delay: 0.86s;
    -webkit-animation-delay: 0.86s;
    animation-delay: 0.86s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }
    
    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }
    
    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }
    
    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }
    
    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }
    
    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }
    
    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }
    
    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
    
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }
    
    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }
    
    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }
    
    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }
    
    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }
    
    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }
    
    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }
    
    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg) ;
    }
    
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }
    
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }
    
    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }
    
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }
    
    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }
    
    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }
    
    76% {
        opacity: 0;
        transform:rotate(900deg);
    }
    
    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
    
}
