<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Delexious</string>
	<key>Builder Version</key>
	<string>9537.71</string>
	<key>CFBundleDisplayName</key>
	<string>AlienTube (Beta)</string>
	<key>CFBundleIdentifier</key>
	<string>com.delexious.alientube</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.1</string>
	<key>CFBundleVersion</key>
	<string>0.9.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/jquery-1.9.1.min.js</string>
                <string>js/mustache.js</string>
				<string>js/purl.js</string>
				<string>js/snuownd.js</string>
				<string>js/underscore-min.js</string>
				<string>js/raven.min.js</string>
				<string>js/script.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://www.youtube.com/watch*</string>
			<string>https://www.youtube.com/watch*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Reddit comments on YouTube</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.youtube.com</string>
				<string>pay.reddit.com</string>
				<string>www.reddit.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://update.alientube.co/AppleExtensionUpdateProperties.plist</string>
	<key>Website</key>
	<string>http://delexious.com</string>
</dict>
</plist>
