<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>-4</real>
		<key>Key</key>
		<string>hiddenCommentScoreThreshold</string>
		<key>Title</key>
		<string>Don't show me comments with a score less than</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>wideCommentBox</string>
		<key>Title</key>
		<string>Use a wider comment box layout</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>featherDescriptionPlacement</string>
		<key>Title</key>
		<string>Collapse comment box into description in YouTube Feather</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>disablePostHeader</string>
		<key>Title</key>
		<string>Hide the post header</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>disableTabs</string>
		<key>Title</key>
		<string>Hide the tab bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>modhash</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>username</string>
	</dict>
</array>
</plist>
